[submodule "zsa_qmk_firmware"]
	path = firmware/zsa
	url = git@github.com:KobraKommander9/zsa_qmk_firmware.git
[submodule "vial-qmk"]
	path = firmware/vial
	url = git@github.com:KobraKommander9/vial-qmk.git
